@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}

:root {
    --text-color: #858fad;
    --text-back-cta-color: #293356;
    --fw-600: 600;
    --fw-800: 800;
}

html {
    font-size: 10px;
    color: var(--text-color);
}

img {
    width:100%;
}

body {
    background-image: url(../images/bg-pattern.svg);
    background-repeat:no-repeat;
    background-color: #fafbff;
}


/*Outside component*/
.conteiner {
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    background: url(../images/pattern-circles.svg) no-repeat 50% 15%/40%;
    min-width:37.5rem;
    margin:auto;
}

.header {
    margin-top: 10em;
}

.header h1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color:#293356
}

.header p {
    font-size:1.5rem;
    padding:0 5.5em;
    line-height: 3rem;
}

/*Component*/

.form-component {
    background: #fff;
    margin:8rem auto;
    padding:4em 8em;
    border-radius:4%;
}

/*Component header text*/

.form-component__h2-views {
    font-weight: var(--fw-800);
    letter-spacing: .1rem;
    
}

/*Range slider*/

.form-component__input-slider {
    -webkit-appearance: none;
    width: 100%;
    background:transparent;
    
}


