@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}

:root {
    --text-color: #858fad;
    --text-back-cta-color: #293356;
    --fw-600: 600;
    --fw-800: 800;
}

html {
    font-size: 10px;
    color: var(--text-color);
}

img {
    width: 100%;
}

body {
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-color: #fafbff;
}


/*Outside component*/
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url(../images/pattern-circles.svg) no-repeat 50% 11%/45%;
    min-width: 37.5rem;
    margin: auto;
}

.header {
    margin-top: 10em;
}

.header h1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color:#293356
}

.header p {
    font-size: 1.5rem;
    padding: 0 5.5em;
    line-height: 3rem;
}

/*Component*/

.form-component {
    background: #fff;
    margin: 8rem auto;
    width: 90%;
    border-radius: 4%;
    padding: 3em 0;
    font-size: .9rem;
}

/*Component header text*/

.form-component__h2-views {
    font-weight: var(--fw-800);
    letter-spacing: .1rem;
    padding-top: .5rem;
}

/*Range slider general*/

.form-component__input-slider {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
    margin: 3em 0;
    outline: none;
    
}
/*Webkit Slider*/
.form-component__input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    background: #11d8c5 url(../images/icon-slider.svg) no-repeat center center;
    border-radius: 50%;
    cursor: pointer;
    top: -1.5rem;
    box-shadow: 0 1rem 1rem .5rem  #8bfdf3;
}

.form-component__input-slider::-webkit-slider-runnable-track {
    height: 1rem;
    border-radius: 5rem;
    background-color: #eaeefb;
    box-shadow: -.1rem -.1rem .2rem  #a5a5a7
}

.form-component__input-slider::-webkit-slider-thumb:hover {
    background-color: #77ecdc;
}

.form-component__input-slider::-webkit-slider-thumb:active {
    background-color: #11d8c5;
}

/*Firefox Slider*/

.form-component__input-slider::-moz-range-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    background: #11d8c5 url(../images/icon-slider.svg) no-repeat center center;
    border-radius: 50%;
    cursor: pointer;
    top: -1.5rem;
    box-shadow: 0 1rem 1rem .5rem  #8bfdf3;
    border: none;
}

.form-component__input-slider::-moz-range-track {
    height: 1rem;
    border-radius: 5rem;
    background-color: #eaeefb;
    box-shadow: -.1rem -.1rem .2rem  #a5a5a7
}

.form-component__input-slider::-moz-range-thumb:hover {
    background-color: #77ecdc;
}

.form-component__input-slider::-moz-range-thumb:active {
    background-color: #11d8c5;
}

/*Form mid section*/

.form-component__h3 {
    font-size: 2.4rem;
    font-weight: var(--fw-600);
}

.form-component__span {
    font-weight: var(--fw-800);
    font-size: 3.6rem;
    color: var(--text-back-cta-color);
}

.form-component__billing-conteiner {
    display: flex;
    margin: 3rem 0;
    justify-content: space-evenly ;
    font-size: 1.4rem;
    font-weight: var(--fw-600);
}

.form-component__discount {
    color: #e88c73;
    background-color: #ffede9;
    padding: .2em .7em;
    border-radius: 25% 25% 25% 25%;
    font-size: 1.2rem;
    margin-left: .5rem;
    font-weight: var(--fw-800)
}

/*Billing checkbox*/

.form-component__checkbox {
    
}